<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">TCP Analysis Toolkit</a>
      <form class="form-inline">
        <input id="myInput" onkeyup="filter()" class="form-control mr-sm-2" type="text" placeholder="Filter" aria-label="Filter">
      </form>
    </nav>
    <div class="container">
      
      <span style="font-size: small;">
        status: <span style="font-size: small;" id="status">connecting...</span>
      </span>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tcptracer">tcptracer.py</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#solisten">solisten.py</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tcpretrans">tcpretrans.py</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tcpdrop">tcpdrop.py</a>
        </li>
      </ul>

      <div class="tab-content"> 
        <div id="tcptracer" class="tab-pane fade show active">
          <table id="daTable" class="table table-hover table-sm table-bordered table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">TIME</th>
                <th scope="col">T</th>
                <th scope="col">PID</th>
                <th scope="col">COMM</th>
                <th scope="col">PORT</th>
                <th scope="col">SADDR</th>
                <th scope="col">DADDR</th>
                <th scope="col">SPORT</th>
                <th scope="col">DPORT</th>
              </tr>
            </thead>
            <tbody id="display">
            </tbody>
          </table>
        </div>

        <div id="solisten" class="tab-pane fade">
          <table id="daTable" class="table table-hover table-sm table-bordered table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">TIME</th>
                <th scope="col">PID</th>
                <th scope="col">COMM</th>
                <th scope="col">PROTO</th>
                <th scope="col">BACKLOG</th>
                <th scope="col">LPORT</th>
                <th scope="col">LADDR</th>
              </tr>
            </thead>
            <tbody id="display">
            </tbody>
          </table>
        </div>

        <div id="tcpretrans" class="tab-pane fade">
          <table id="daTable" class="table table-hover table-sm table-bordered table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">TIME</th>
                <th scope="col">PID</th>
                <th scope="col">PORT</th>
                <th scope="col">LADDR</th>
                <th scope="col">LPORT</th>
                <th scope="col">T></th>
                <th scope="col">RADDR</th>
                <th scope="col">RPORT</th>
                <th scope="col">STATE</th>
              </tr>
            </thead>
            <tbody id="display">
            </tbody>
          </table>
        </div>

        <div id="tcpdrop" class="tab-pane fade">
          <table id="daTable" class="table table-hover table-sm table-bordered table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">TIME</th>
                <th scope="col">PID</th>
                <th scope="col">PORT</th>
                <th scope="col">SADDR</th>
                <th scope="col">SPORT</th>
                <th scope="col">DADDR</th>
                <th scope="col">DPORT</th>
                <th scope="col">STATE</th>
                <th scope="col">(FLAGS)</th>
              </tr>
            </thead>
            <tbody id="display">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- My own script! -->
    <script type="text/javascript" src="{{ url_for('static', filename="js/table.js")}}"></script>
  </body>
</html>